<h1>New Ride</h1>

<%= form_for :rides do |f| %>
	<p>
		<%= f.label :location %><br>
		<%= f.text_field :location %>
	</p>
	<p>
		<%= f.label :distance %><br>
		<%= f.text_field :distance %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>